//Our constants directory, contains constants for everything

@import 'constants/*';
@import 'lib/*';
@import 'modules/*';

input, select {
    border: none;
    background: transparent;
    width:100%;
    font-size:16px;
    padding:10px;
    padding-right:20px;
    cursor:pointer;
}

body{
    color: $text-color-default;
    font: $font-stack;
    background-color: $background-color;
}
