{% extends 'layouts/_base.html' %}

{% macro flex(containerClasses='') %}
    <div class="flex-container {{containerClasses}}">
        {{ caller() }}
    </div>
{% endmacro %}

{% block app %}
    {% call flex('full-width') %}
        <div class="flex-sm-12 flex-md-6">Hello</div>
        <div class="flex-sm-12 flex-md-6">How are you?</div>
    {% endcall %}
    {% call flex('full-width justify-around') %}
        <div class="flex-sm-12 flex-md-4 text-center">
            <a class="button">Button</a>
        </div>
        <div class="flex-sm-12 flex-md-4">How are you?</div>
    {% endcall %}
{% endblock %}
