$primary-color: #34495E;
$secondary-color: #FFFFFF;
$background-color: #ECF0F1;

$accent-color: #23163F;
$dark-accent-color: #101010;
$super-accent-color: #716341;


$error-color: #FFFFFF;

$text-color-default: #3F3F3F;
$text-color-dark: #b7b7b7;
$text-color-light: #ccc;

$icon-color: #2C3E50;

//General colors, used to generate a lot of color-based classes
$colors: (
    light-green:        #2ECC71,
    green:              #009D44,
    dark-green:         #006442,//#1E824C,//#27AE60,
    light-red:          #E74C3C,
    red:                #C92817,
    dark-red:           #96281B,//#C0392B,
    light-orange:       #E67E22,
    dark-orange:        #D35400,
    light-purple:       #AEA8D3,
    dark-purple:        #674172,
    light-yellow:       #FFFCC3,
    dark-yellow:        #D9D465,
    paper:              #F3EADC,
    dusk:               #4F5B62,//#34495E,
    twilight:           #263238,//#22313F,
    midnight:           #000A12,//#19242E,
    aluminum:           #ECF0F1,
    silver:             #BDC3C7,
    charcoal:           #303030,

    light-brown:        #8E8373,
    brown:              #60574B,
    dark-brown:         #3D3427,

    light-grey:         #ECF0F1,
    grey:               #C7D5D8,
    dark-grey:          #94AFB5,

    black:              #000000,
    white:              #FFFFFF,
);
