$flex-directions: (
    column: column,
    column-reverse: column-reverse
);

$flex-justifications: (
    justify-start:      flex-start,
    justify-end:        flex-end,
    justify-center:     center,
    justify-between:    space-between,
    justify-around:     space-around
);

$flex-alignments: (
    align-start: flex-start,
    align-end: flex-end,
    align-center: center,
    align-stretch: stretch,
    align-baseline: baseline
);

$flex-size-abbreviations: (
    'sm': 'small',
    'md': 'medium',
    'lg': 'large'
);
