$font-stack: Arial, sans-serif;

$text-sizes: (
    smallest:   8px,
    smaller:    10px,
    small:      12px,
    normal:     16px,
    large:      24px,
    larger:     32px,
    largest:    72px,
    billboard:  144px,
);

$weights: (
    bold: bold,
    bolder: bolder
)
