{% extends 'layouts/_base.html' %}
{# from '_timer-data.html' import timerData as ctx with context #}

{% block app %}
    <div id='timer'></div>
{% endblock %}

{% block footerjs %}
    <script>
        $(document).ready(function() {
            apps.timer.run();
        });
    </script>
{% endblock %}
