$small-cutoff: '769px';
$medium-cutoff: '1200px';


$breakpoints: (
    small: "(min-width: 0px)",
    small-only: "(min-width: 0px) and (max-width: #{$small-cutoff})",
    medium: "(min-width: #{$small-cutoff})",
    medium-only: "(min-width: #{$small-cutoff}) and (max-width: #{$medium-cutoff})",
    large: "(min-width: #{$medium-cutoff})"
);

@mixin bp($size) {
    @if map-has-key($breakpoints, $size) {
        @media screen and #{map-get($breakpoints, $size)} {
            @content;
        }
    } @else {
        @warn "SUPPLIED BREAKPOINT NAME IS NOT SUPPORTED";
    }
}
