<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta http-equiv="pragma" content="no-cache">
        <meta http-equiv="expires" content="-1">

        {# Stops the favicon errors -- I'm lazy #}
        <link rel="shortcut icon" href="">
        <link rel="stylesheet" href="/static/css/bootstrap.min.css">
        <link rel="stylesheet" href="/static/css/combined.css">
        {% block stylesheets %}{% endblock %}

        {% if name %}
           <link rel="stylesheet" href="/static/css/{{ name }}.css">
        {% endif %}

        {% set scripts = [
            'init.js',
            'vendor.js'
        ] %}

        {% for script in scripts %}
            <script src='/static/js/{{script}}'></script>
        {% endfor %}
        {% block headerScripts %}{% endblock %}
    </head>

    <body>

        {% block header %}
        {% endblock %}

        {% block app %}
        {% endblock %}

        {% block footer %}
        {% endblock %}

        {% if name %}
           <script src='/static/js/{{ name }}.js'></script>
        {% endif %}

        {% block footerjs %}
        {% endblock %}
    </body>


</html>
