{% extends './_base.html' %}

{% block app %}
    <div id='one-page-container'></div>
{% endblock %}

{% block footerjs %}
    <script>
        $(document).ready(function() {
            if (typeof(app) != 'undefined') {
                app.run();
            } else {
                apps['{{ name }}'].run();
            }
        });
    </script>
{% endblock %}
