{% set tabViewId = uuid() %}
{% set tabs = tabs | default([
    {title: 'Local', content: 'World', link: 'tab-' + uuid()},
    {title: 'Youtube', content: 'Hello', link: 'tab-' + uuid()}
]) %}

<div id='tab-view-{{tabViewId}}' class="full-width full-height midnight">
    {% block content %}
        <div class="midnight">
            {% for tab in tabs %}
                <a class="tab-control button {{'active' if loop.first}} {{'left' if not loop.last}} twilight-hover" data-tab-link="{{tab.link}}">
                    {{tab.title}}
                </a>
            {% endfor %}
        </div>

        <div id="tab-container-{{tabViewId}}">
            {% for tab in tabs %}
                <div class="{{'hidden' if not loop.first}} full-height twilight text-light" data-tab-link="{{tab.link}}">
                    {{tab.content}}
                </div>
            {% endfor %}
        </div>
    {% endblock %}
</div>

<script>
    $(document).ready(function() {
        apps.tabview.init("{{tabViewId}}");
    });
</script>
