.slide-appear {
    opacity: 0.01;
    &.slide-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}

.slide-appear {
    opacity: 0.01;
    &.slide-appear-active {
        opacity: 1;
        transition: opacity .5s ease-in;
    }
}

.slower-enter {
    visibility: hidden;
    &.slower-enter-active
    {
        visibility: visible;
        transition: visibility 2.0s ease-in;
    }
}
