@mixin border($name, $width){
    .border-#{$name} {
        border-width: $width;
        border-style: solid;
    }

    @each $direction in $directions {
        .border-#{$direction}-#{$name} {
            border-#{$direction}-width: $width;
            border-#{$direction}-style: solid;
        }
    }
}

@each $label, $color in $colors {
    .border-#{$label} {
        border-color: $color;
    }
}

@include border(normal, 3px);
@include border(thin, 1px);
@include border(thick, 5px);


.border-thin:hover{
    @include border(1px, $super-accent-color)
}


.radius {
    border-radius: 3px;
}
