.background-primary {
    background-color: $primary-color;
}

.background-secondary {
    background-color: $secondary-color;
}

@each $label, $color in $colors {
    .#{$label} {
        background-color: $color !important;
    }

    .#{$label}-hover:hover {
        background-color: $color !important;
    }
}
