
.source-input {
    padding: 0px;
    padding-left: 10px;
    text-align: left;
    width:100%;

    &:focus {
        outline: 0 !important;
        cursor: auto;
    }
}

//Buttonify links
a.button {
    display: inline-block;

    cursor: pointer;
    user-select: none;

    text-decoration: none;
    color: $text-color-light;

    font-size: map-get($text-sizes, normal);
    text-align: center;

    padding-left: 20px;
    padding-right: 20px;

    &.naked {
        background: transparent;
    }

    &.active {
        background: map-get($colors, twilight);
    }

    &:hover {
        text-decoration: none;
    }
}

//Used on video players
.player-button {
    @extend .button;
    width: 8em;
    position: relative;

    //disable text shadow on hover from videojs classes
    &:hover:before, &:focus:before, &:before {
        text-shadow: none!important;
    }
}
