@mixin display($type){
    .display-#{$type} {
        display: $type !important;
    }
}

@include display(block);
@include display(inline);
@include display(inline-block);
@include display(none);
@include display(table);
@include display(table-cell);
