.flex-container {
    display: flex;
    flex-wrap: wrap;

    &.reverse {
        flex-direction: row-reverse;
    }

    &.column {
        flex-direction: column;
        &.reverse {
            flex-direction: column-reverse;
        }
    }

    @each $label, $justification in $flex-justifications {
        &.#{$label} {
            justify-content: $justification;
        }
    }

    @each $label, $alignment in $flex-alignments {
        &.#{$label} {
            align-items: $alignment;
        }

        @each $breakpointName, $breakpointValue in $breakpoints {
            &.#{$label}-for-#{$breakpointName} {
                @include bp($breakpointName) {
                    align-items: $alignment !important;
                }
            }
        }
    }

}

// Flex sizing per breakpoint
@each $label, $size in $flex-size-abbreviations {
    @for $i from 1 through 12 {
        .flex-#{$label}-#{$i} {
            @include bp($size) {
                width: percentage(1 / 12 * $i);
            }
        }
    }
}
