.relative{
    position: relative;
}

.absolute{
    position: absolute;
}

.sticky {
    position: sticky;
}

@each $breakpointName, $breakpointValue in $breakpoints {
    .absolute-for-#{$breakpointName} {
        @include bp($breakpointName) {
            position: absolute !important;
        }
    }
}

.hover{
    position: fixed;
    z-index: 99;
}

.left{
    float: left;
}

.right{
    float: right;
}

.on-top{
    z-index: 100;
}

.on-bottom {
    z-index: -100;
}

.above {
    z-index: 1;
}

.below {
    z-index: -1;
}

.hug-top{
    top: 0;
}

.hug-bottom{
    bottom: 0;
}

.hug-left{
    left: 0;
}

.hug-right{
    right: 0;
}

// Requires .display-table on parent from display module
.vertical-align-middle {
    display: table-cell!important;
    vertical-align: middle;
}

.margin-right {
    margin-right: 25px;
}
