@mixin shadow($blur, $xoffset: 0px, $yoffset: 0px, $spread: 0px, $color: black, $inset: false) {
    $style_line: $xoffset $yoffset $blur $spread $color;
    @if $inset {
        $style_line: inset $style_line;
    }

    -webkit-box-shadow: $style_line;
    box-shadow: $style_line;
}

@mixin make_shadow($name, $blur, $xoffset: 0px, $yoffset: 0px, $spread: 0px, $color: black) {
    $shadow-vars: $blur, $xoffset, $yoffset, $spread, $color;
    .#{$name} {
        @include shadow($shadow-vars...)
    }

    .#{$name}.inner {
        @include shadow($shadow-vars..., $inset: true)
    }

    .#{$name}.inner-hover:hover {
        @include shadow($shadow-vars..., $inset: true)
    }
}

@include make_shadow(shadow, 3px);
@include make_shadow(shadow-thin, 1px);
@include make_shadow(shadow-thick, 5px);
@include make_shadow(shadow-thicker, 10px);
@include make_shadow(shadow-thickest, 15px);
