.page-height {
    height: 100vh;
}

.page-width {
    width: 100vw;
}

.size-page {
    @extend .page-height;
    @extend .page-width;
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.size-full {
    @extend .full-height;
    @extend .full-width;
}

.height-auto {
    height: auto!important;
    line-height: inherit!important;
}

.width-auto {
    width: auto!important;
}

.size-auto {
    @extend .height-auto;
    @extend .width-auto;
}
