@each $spacing, $value in $spacings {
    .padding-#{$spacing} {
        padding: $value;
    }

    @each $direction in $directions {
        .padding-#{$direction}-#{$spacing} {
            padding-#{$direction}: $value;
        }
    }
}

@each $spacing, $value in $spacings {
    .margin-#{$spacing} {
        margin: $value;
    }

    @each $direction in $directions {
        .margin-#{$direction}-#{$spacing} {
            margin-#{$direction}: $value;
        }
    }
}
