.text-center {
    text-align: center;
}

@each $label, $size in $text-sizes {
    .text-#{$label} {
        font-size: $size !important;
    }

    @each $breakpointName, $breakpointValue in $breakpoints {
        .text-#{$label}-for-#{$breakpointName} {
            @include bp($breakpointName) {
                font-size: $size !important;
            }
        }
    }
}

@each $label, $size in $text-sizes {
    .heading-#{$label} {
        font-size: $size !important;
    }
}

@each $label, $color in $colors {
    .text-#{$label} {
        color: $color !important;
    }

    .text-#{$label}::placeholder {
        color: $color; //darken($color, 10%);
    }

    .text-hover-#{$label}:hover {
        color: $color !important;
    }
}

@each $label, $weight in $weights {
    .text-#{$label} {
        font-weight: $weight!important;
    }

    .hover-#{$label}:hover {
        font-weight: $weight!important;
    }
}


.text-loose {
    letter-spacing: 1px;
}
